
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/


# MacOS
*DS_Store*
# git
*.orig
push.sh
git-add-commit.sh

# Loaded/Saved data files
*.npz
# *.npy
*.pickle
*tar.gz

# Visualization
*.mp4
# *.png
*.gif
# *.jpg
*.ply

# Pytorch
*.pth
# *.pt

# custom
# data/*
!data/FLAME_masks/FLAME.obj
exp/
*/fbx-python-sdk/
.vscode
.idea
*.pkl
*.pkl.json
*.log.json
work_dirs/
logs/
data.zip

